apiVersion: v1alpha1
kind: ExtensionServiceConfig
name: tailscale
environment:
  - TS_AUTHKEY=tskey-auth-<...>
  - TS_ACCEPT_ROUTES=true
  - TS_ROUTES=198.51.100.2/32,198.51.100.3/32,198.51.100.15/32,198.51.100.49/32
  - TS_EXTRA_ARGS=--advertise-exit-node
