apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

patches:
  - target:
      kind: HTTPRoute
      name: authentik
      namespace: authentik
      group: gateway.networking.k8s.io
      version: v1
    path: patch-authentik-route.yaml