apiVersion: v1
kind: ConfigMap
metadata:
  name: authentik-helm-values
  namespace: authentik
data:
  values.yaml: |
    global:
      revisionHistoryLimit: 3
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
      
      # Shared Environment Variables
      # These will apply to both Server and Worker automatically.
      env:
        # 1. SMTP Credentials
        - name: AUTHENTIK_EMAIL__USERNAME
          valueFrom:
            secretKeyRef:
              name: authentik-smtp-credentials
              key: username
        - name: AUTHENTIK_EMAIL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-smtp-credentials
              key: password
        
        # 2. Database Credentials
        - name: AUTHENTIK_POSTGRESQL__USER
          valueFrom:
            secretKeyRef:
              name: authentik-db-credentials
              key: username
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-db-credentials
              key: password
        
        # 3. Secret Key
        - name: AUTHENTIK_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: authentik-secret-key
              key: secret_key

    authentik:
      # secret_key: ""  # set in global.env above
      
      postgresql:
        host: authentik-db-rw
        # user: ""      # set in global.env above
        # password: ""  # set in global.env above
      
      email:
        host: "mail-eu.smtp2go.com"
        port: 2525
        use_tls: true
        use_ssl: false
        timeout: 30
        from: "authentik@example.com"
        # username: ""  # set in global.env above
        # password: ""  # set in global.env above

    server:
      # -- authentik server container-level security context
      containerSecurityContext:
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL

      service:
        annotations:
          konghq.com/protocol: "https"
          konghq.com/verify: "false"

    worker:
      # -- authentik worker container-level security context
      containerSecurityContext:
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL

    postgresql:
      enabled: false